/* Elements */

body {
    background-image: url("../images/background-1.jpg");
    font-family: 'PT Mono', monospace;
}

/* Classes */

.center-position {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.question-container {
    margin-top: 5%;
    text-align: center;
    font-size: 2rem;
}

.question-contents {
    margin: 1% auto;
}

.question {
    font-size: 2.5rem;
    padding: 0 5%;
}

.answer-options {
    font-size: 2rem;
    font-family: 'PT Mono', monospace;
    width: 40%;
    padding: 1%;
}

.answer-options:hover {
    cursor: pointer;
}

.image {
    border: ridge white 3px;
}

/* IDs */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-container {
    background-color: lemonchiffon;
    height: 90%;
    width: 80%;
    border: black solid 1px;
}

#game-title {
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    color: white;
    background-color: coral;
    text-shadow: 3px 3px black;
    padding: 1%;
    border-bottom: black solid 1px;
}

#start-button {
    height: 10%;
    width: 20%;
    font-size: 3rem;
    font-family: 'PT Mono', monospace;
}

#start-button:hover {
    cursor: pointer;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lemonchiffon;
    width: 80%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border: black solid 1px;
    background-color: coral;
}